.form-signin {
    max-width: 340px;
    padding: 15px;
    margin: 0 auto;
}

.login-header {
    text-align: center;
}

.name-input {
    width: 100%;
}

.list-page-container {
    max-width: 800px;
    text-align: center;
}

.input-group-glue {
  width: 0;
  display: table-cell;
}

.input-group-glue + .form-control {
  border-left: none;
}

.add-contact-panel {
    max-width: 400px;
    margin: 0 auto;
}

.contact-panel {
    padding-left: 0;
    padding-right: 0;
}

.delete-confirm-panel {
    width: 50%;
    margin: 15px auto;
}

.update-contact-form {
    margin-top: 15px;
}